/* First, change the font */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic);

.container {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.why-not li {
  font-style: italic;
  font-weight: 300;
  list-style: none;
}

.img {
  width: 72px;
}